Repository kpimarianenko/homepage: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["npx prettier --write", "npx eslint --fix --max-warnings=0"],
  "**/*.json": "npx prettier --write"
}

gh pages deployment configured
  .husky/pre-commit
  package.json
  vite.config.ts
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Updates
  index.html
Due: none

favicon and title configured
  index.html
  public/favicon.svg
Due: none

Updates
  favicon.svg
  index.html
Due: none

remove base from vite config
  vite.config.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

stylelint configured
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  yarn.lock
Due: npx prettier --write

stylelint fixed, background implemented
  .stylelintrc.json
  eslint.config.js
  index.html
  package.json
  src/App.tsx
  src/hooks/useCursorPosition.ts
  src/hooks/useDimensions.ts
  src/main.tsx
  src/styles/colors.module.scss
  src/styles/colors.module.scss.d.ts
  src/styles/main.scss
  src/styles/reset.scss
  src/uikit/background-container/index.tsx
  src/uikit/background-container/styles.scss
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Updates
  assets/index-7mtp594Q.css
  assets/index-CTqAGREc.js
  assets/index-Ck4xcTtB.js
  index.html
Due: npx prettier --write, npx eslint --fix --max-warnings=0

base option added to vite config
  .vite/deps/_metadata.json
  .vite/deps/package.json
  vite.config.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

replaced sass @import with @use
  src/styles/colors.module.scss
  src/styles/main.scss
Due: none

i18n implemented
  package.json
  src/App.tsx
  src/assets/translations/en.json
  src/assets/translations/uk.json
  src/pages/home/index.tsx
  src/services/i18n.ts
  src/styles/colors.module.scss
  src/styles/colors.module.scss.d.ts
  src/styles/main.scss
  src/uikit/background-container/index.tsx
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

about section implemented, timeline item component implemented
  index.html
  package.json
  src/App.tsx
  src/assets/icons/link.tsx
  src/assets/translations/en.json
  src/helpers/styles.ts
  src/pages/home/components/timeline-item/index.tsx
  src/pages/home/components/timeline-item/styles.module.scss
  src/pages/home/index.tsx
  src/pages/home/styles.module.scss
  src/styles/colors.module.scss
  src/styles/colors.module.scss.d.ts
  src/styles/main.scss
  src/types/icons.ts
  src/uikit/background-container/index.tsx
  src/uikit/background-container/styles.module.scss
  src/uikit/link/index.tsx
  src/uikit/link/styles.module.scss
  yarn.lock
Due: npx prettier --write, npx eslint --fix --max-warnings=0

timeline implemented, background fixed, set aside position to sticky
  src/assets/translations/en.json
  src/pages/home/components/timeline-item/index.tsx
  src/pages/home/components/timeline-item/styles.module.scss
  src/pages/home/index.tsx
  src/pages/home/styles.module.scss
  src/styles/colors.module.scss
  src/styles/colors.module.scss.d.ts
  src/uikit/background-container/styles.module.scss
  src/uikit/link/index.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

tech stack impemented
  src/assets/icons/link.tsx
  src/assets/translations/en.json
  src/pages/home/components/tag/index.tsx
  src/pages/home/components/tag/styles.module.scss
  src/pages/home/index.tsx
  src/pages/home/styles.module.scss
Due: npx prettier --write, npx eslint --fix --max-warnings=0

links to social media implemented
  public/cv.pdf
  src/assets/icons/document.tsx
  src/assets/icons/envelope.tsx
  src/assets/icons/github.tsx
  src/assets/icons/link.tsx
  src/assets/icons/linkedin.tsx
  src/assets/translations/en.json
  src/pages/home/components/socials-link/index.tsx
  src/pages/home/components/socials-link/styles.module.scss
  src/pages/home/index.tsx
  src/pages/home/styles.module.scss
  src/types/icons.ts
Due: npx prettier --write, npx eslint --fix --max-warnings=0

file structure changed
  src/components/background-container/index.tsx
  src/components/background-container/styles.module.scss
  src/pages/home/components/link/index.tsx
  src/pages/home/components/link/styles.module.scss
Due: npx prettier --write, npx eslint --fix --max-warnings=0

imports fixed
  src/App.tsx
  src/pages/home/components/timeline-item/index.tsx
Due: npx prettier --write, npx eslint --fix --max-warnings=0

easter egg implemented
  index.html
  src/assets/audio/easter-egg.mp3
  src/assets/images/easter-egg.png
  src/assets/translations/en.json
  src/helpers/styles.ts
  src/pages/home/index.tsx
  src/pages/home/styles.module.scss
Due: npx prettier --write, npx eslint --fix --max-warnings=0

ukrainian translation implemented, language switch implemented
  eslint.config.js
  src/assets/translations/uk.json
  src/pages/home/components/language-dropdown-item/index.tsx
  src/pages/home/components/language-dropdown-item/styles.module.scss
  src/pages/home/components/language-dropdown/index.tsx
  src/pages/home/components/language-dropdown/styles.module.scss
  src/pages/home/index.tsx
  src/services/i18n.ts
  src/styles/reset.scss
Due: npx prettier --write, npx eslint --fix --max-warnings=0

Updates
  assets/easter-egg-BBtInUnr.png
  assets/easter-egg-s8IkkpY8.mp3
  assets/index--3a0g-PT.js
  assets/index-7mtp594Q.css
  assets/index-CTqAGREc.js
  assets/index-nCuuQKTO.css
  cv.pdf
  index.html
Due: npx prettier --write, npx eslint --fix --max-warnings=0

minor fixes
  src/assets/translations/en.json
  src/pages/home/components/language-dropdown/styles.module.scss
Due: npx prettier --write

responsive markdown implemented
  .stylelintrc.json
  src/pages/home/components/language-dropdown/styles.module.scss
  src/pages/home/components/socials-link/styles.module.scss
  src/pages/home/styles.module.scss
  src/styles/helpers.module.scss
  src/styles/main.scss
Due: npx prettier --write

Updates
  assets/index--3a0g-PT.js
  assets/index-BrqisJFt.js
  assets/index-DReM76qO.css
  assets/index-nCuuQKTO.css
  index.html
Due: npx prettier --write, npx eslint --fix --max-warnings=0
